* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

$very-dark-blue: #1b1d23;
$dark-grey: #60636d;
$medium-grey: #7d828f;
$light-grey: #c8ccd8;
$very-light-grey: #eeeff4;
$error-red: DF5656;

p {
  font-family: "Spartan", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Spartan", sans-serif;
}

nav {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.7rem;
  display: flex;
  align-items: center;
  padding: 3.46rem 0;
  width: 550px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    padding: 0 1.8rem 0 1.8rem;
  }

  a {
    text-decoration: none;
    color: #7d828f;

    &:hover {
      font-family: Spartan;
      font-style: normal;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.66rem;
      /* identical to box height, or 167% */
      color: #1b1d23;
    }
  }

  .logo {
    padding-right: 4.43rem;
  }
}

.main-container {
  max-width: 77.1%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.grey-heading {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 13.33rem;
  line-height: 13.33rem;
  /* identical to box height, or 100% */
  letter-spacing: -5px;
  color: #eeeff4;
}

.archbutton {
  background: #1b1d23;
  color: white;
  border: none;
  padding: 1.6rem 2.133rem;
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.66rem;
  text-align: right;
  cursor: pointer;

  &:hover {
    background: #979797;
    border: none;
  }
}

footer {
  width: 85%;
  height: 200px;
  background: #eeeff4;
  position: relative;
  display: flex;

  #logo-container {
    background: #1b1d23;
    width: 13.3rem;
    height: 13.3rem;
  }

  #logo-footer {
    position: relative;
    top: 5rem;
    left: 3.25rem;
  }

  #footer-nav {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.66rem;
    display: flex;
    align-items: center;
    width: 601px;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li {
      padding: 0 1.8rem 0 1.8rem;
    }

    a {
      text-decoration: none;
      color: #7d828f;
      cursor: pointer;

      &:hover {
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.66rem;
        /* identical to box height, or 167% */

        color: #1b1d23;
      }
    }
  }

  .footer-btn {
    position: relative;
    top: 4.26rem;
    left: 17.133333333333333rem;
  }
}
