* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

$very-dark-blue: #1b1d23;
$dark-grey: #60636d;
$medium-grey: #7d828f;
$light-grey: #c8ccd8;
$very-light-grey: #eeeff4;
$error-red: DF5656;

p {
  font-family: "Spartan", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Spartan", sans-serif;
}

nav {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.7rem;
  display: flex;
  align-items: center;
  padding: 3.46rem 0;
  width: 550px;

  .mobile-nav {
    display: none;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    padding: 0 1.8rem 0 1.8rem;
  }

  a {
    text-decoration: none;
    color: #7d828f;

    &:hover {
      font-family: Spartan;
      font-style: normal;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.66rem;
      /* identical to box height, or 167% */
      color: #1b1d23;
    }
  }

  .logo {
    padding-right: 4.43rem;
  }
}

.main-container {
  max-width: 77.1%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.grey-heading {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 13.33rem;
  line-height: 13.33rem;
  /* identical to box height, or 100% */
  letter-spacing: -5px;
  color: #eeeff4;
}

.archbutton {
  background: #1b1d23;
  color: white;
  border: none;
  padding: 1.6rem 2.133rem;
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.66rem;
  text-align: right;
  cursor: pointer;

  &:hover {
    background: #979797;
    border: none;
  }
}

footer {
  width: 85%;
  height: 200px;
  background: #eeeff4;
  position: relative;
  display: flex;

  #logo-container {
    background: #1b1d23;
    width: 13.3rem;
    height: 13.3rem;
  }

  #logo-footer {
    position: relative;
    top: 5rem;
    left: 3.25rem;
  }

  #footer-nav {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.66rem;
    display: flex;
    align-items: center;
    width: 60%;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li {
      padding: 0 1.8rem 0 1.8rem;
    }

    a {
      text-decoration: none;
      color: #7d828f;
      cursor: pointer;

      &:hover {
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.66rem;
        /* identical to box height, or 167% */

        color: #1b1d23;
      }
    }
  }

  .footer-btn {
    position: relative;
    top: 4.26rem;
    left: 17.133333333333333rem;
  }
}

@media (max-width: 500px) {
  .main-container {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 3.46rem 1rem;
    max-width: 100%;
    z-index: 1;

    .mobile-nav {
      display: block;

      .mob-nav-container {
        display: none;
        position: absolute;
        width: 343px;
        height: 235px;
        left: 32px;
        top: 96px;
        background: rgba(238, 239, 244, 0.85);
        margin-top: 32px;
        z-index: 99;

        ul {
          display: block;
          padding-top: 1rem;
        }

        li {
          font-family: Spartan;
          font-style: normal;
          font-weight: bold;
          font-size: 1.2rem;
          line-height: 139%;
          padding: 32px 48px 0 48px;
          color: #1b1d23;
        }
      }
    }

    ul {
      display: none;
    }
  }

  footer {
    width: 100%;
    height: 45vh;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 15rem;

    #logo-container {
      width: 120px;
      height: 120px;
      position: relative;
      top: -50%;
      left: 52%;
    }

    #logo-footer {
      position: relative;
      top: 30%;
      left: 7.5%;
    }

    #footer-nav ul {
      display: block;
      margin-top: 5rem;
      padding-left: 1rem;
      align-content: center;
    }

    #footer-nav li {
      padding: 1.25rem 0;
    }

    .footer-btn {
      position: relative;
      top: 15%;
      left: 75px;
    }
  }
}
