.hero-slides {
  height: 75vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.slide1 {
  background: url(/assets/home/desktop/image-hero-paramour.jpg);
  background-size: cover;
}

.slide2 {
  background: url(/assets/home/desktop/image-hero-seraph.jpg);
  display: none;
}

.slide3 {
  background: url(/assets/home/desktop/image-hero-trinity.jpg);
  display: none;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
  }
}

.slide4 {
  background: url(/assets/home/desktop/image-hero-trinity.jpg);
  display: none;
}

.slide {
  // background-size: cover;
  height: 100%;
  position: relative;

  h3 {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 5.33rem;
    line-height: 100%;
    /* or 100% */
    letter-spacing: -2px;
    color: #ffffff;
  }

  p {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 167%;
    padding: 0.93rem 6.6rem 2.66rem 0;
    /* or 167% */

    color: #ffffff;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .slide-content {
    color: white;
    padding: 12rem 25.06rem 12rem 12.66rem;
  }

  button {
    background: #1b1d23;
    color: white;
    border: none;
    padding: 1.6rem 2.13rem;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
  }
}

.numbers {
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5.33rem;
  width: 21.33rem;
  position: absolute;
  left: 5.66rem;
  top: 52.86rem;

  .number {
    height: 100%;
    width: 5.33rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #7d828f;
    cursor: pointer;

    &:hover {
      background: #eeeff4;
    }

    p {
      pointer-events: none;
    }
  }

  .active {
    color: white;
    background: #1b1d23;
  }
}

.intro {
  #grey-home {
    padding-top: 6.33rem;
    z-index: 5;
  }

  #welcome {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 3.73rem;
    line-height: 3.3rem;
    letter-spacing: -2px;
    width: 100%;
    color: #1b1d23;
    margin-left: 12.6rem;
    margin-top: -1rem;
  }

  .intro-content {
    width: 32.86rem;
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #60636d;
    margin-left: 12.6rem;
    padding-top: 3.73rem;
  }

  #img-intro {
    position: absolute;
    background: url(/assets/home/desktop/image-welcome.jpg);
    width: 23.33rem;
    height: 37.86666666666667rem;
    left: 61.666666666666664rem;
    top: 71.13333333333334rem;
    z-index: -1;
  }

  p {
    padding: 0.33rem 0;
  }

  .small-team {
    position: relative;
    background: url(/assets/home/desktop/image-small-team.jpg);
    background-size: cover;
    width: 100%;
    height: 37.333333333333336rem;
    margin-top: 13.33rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
  }

  .content-container-team {
    margin: 168px 0 240px 190px;
  }
  #white-home {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 3.73rem;
    line-height: 100%;
    /* or 100% */
    letter-spacing: -2px;
    color: #ffffff;
    padding-bottom: 1.73rem;
  }
}

.featured {
  width: 100%;

  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13.33rem;
  }

  h3 {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 3.73rem;
    line-height: 100%;
    /* identical to box height, or 100% */
    letter-spacing: -2px;
    color: #1b1d23;
  }

  .cards {
    width: 100%;
    margin-top: 4.26rem;
    margin-bottom: 13.33rem;
    height: 37.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    width: 23.33rem;
    height: 100%;
    position: relative;
  }

  .number-project {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 13.33rem;
    line-height: 100%;
    /* identical to box height, or 100% */
    text-align: right;
    letter-spacing: -5px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding-top: 2.13rem;
  }
  .card1 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.01%,
        rgba(0, 0, 0, 0.499044) 100%
      ),
      url(/assets/portfolio/desktop/image-del-sol.jpg);
  }

  .card2 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.01%,
        rgba(0, 0, 0, 0.499044) 100%
      ),
      url(/assets/portfolio/desktop/image-228b.jpg);
  }

  .card3 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.01%,
        rgba(0, 0, 0, 0.499044) 100%
      ),
      url(/assets/portfolio/desktop/image-prototype.jpg);
  }

  .card-text {
    color: white;
    position: absolute;
    bottom: 2.66rem;
    left: 2.66rem;

    .view {
      font-family: Spartan;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 100%;
      /* identical to box height, or 167% */
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.75;
      text-decoration: none;
      cursor: pointer;
    }

    .name {
      font-family: Spartan;
      font-style: normal;
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 100%;
      /* identical to box height, or 139% */
      color: #ffffff;
    }
  }
}

@media (max-width: 500px) {
  .hero-slides {
    position: relative;
    min-height: 560px;

    h3 {
      font-size: 3rem;
      line-height: 100%;
    }

    .slide-content {
      padding: 110px 32px;
    }

    .slide p {
      padding: 15px 0 57px 0;
    }

    .slide1 {
      background: url(/assets/home/mobile/image-hero-paramour.jpg);
      background-size: cover;
    }

    .slide2 {
      background: url(/assets/home/mobile/image-hero-seraph.jpg);
      display: none;
    }

    .slide3 {
      background: url(/assets/home/mobile/image-hero-trinity.jpg);
      display: none;
    }
  }

  .numbers {
    display: none;
  }

  .intro {
    padding-top: 72px;

    #grey-home {
      display: none;
    }

    #welcome {
      font-size: 2.667rem;
      line-height: 3.2rem;
      letter-spacing: -1px;
      width: 311px;
      color: #1b1d23;
      margin: 0;
      padding: 68px 32px 29px 32px;
    }

    .intro-content {
      margin: 0 auto;
      padding-top: 0;
      max-width: 311px;
    }

    #img-intro {
      display: none;
    }

    .small-team {
      position: relative;
      background: url(/assets/home/mobile/image-small-team.jpg);
      background-size: cover;
      width: 100%;
      height: 560px;
      margin-top: 97px;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.55);
    }

    .content-container-team {
      margin: 0;
      padding: 180px 32px;
    }

    #white-home {
      font-size: 3rem;
      line-height: 100%;
      /* or 100% */
      padding-bottom: 32px;
    }
  }

  .featured {
    width: 100%;
    position: relative;
    border: 1px solid red;

    .top-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 2rem;
    }

    button {
      position: absolute;
      bottom: -150px;
      left: 2rem;
      width: 311px;
      text-align: center;
    }

    h3 {
      font-family: Spartan;
      font-style: normal;
      font-weight: bold;
      font-size: 3.73rem;
      line-height: 100%;
      /* identical to box height, or 100% */
      letter-spacing: -2px;
      color: #1b1d23;
    }

    .cards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 0;
    }

    .number-project {
      display: none;
    }

    .card {
      width: 311px;
      min-height: 240px;
      margin: 1.5rem auto;
      background-size: cover;
    }

    .card1 {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.01%,
          rgba(0, 0, 0, 0.499044) 100%
        ),
        url(/assets/portfolio/mobile/image-del-sol.jpg);
    }

    .card2 {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.01%,
          rgba(0, 0, 0, 0.499044) 100%
        ),
        url(/assets/portfolio/mobile/image-228b.jpg);
    }

    .card3 {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.01%,
          rgba(0, 0, 0, 0.499044) 100%
        ),
        url(/assets/portfolio/mobile/image-prototype.jpg);
    }

    .card-text {
      color: white;
      position: absolute;
      bottom: 2.66rem;
      left: 2.66rem;

      .view {
        font-family: Spartan;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 100%;
        /* identical to box height, or 167% */
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.75;
        text-decoration: none;
        cursor: pointer;
      }

      .name {
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 100%;
        /* identical to box height, or 139% */
        color: #ffffff;
      }
    }
  }
}
