* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

p {
  font-family: "Spartan", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Spartan", sans-serif;
}

nav {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.46rem 0;
  width: 550px;
}

nav .mobile-nav {
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  padding: 0 1.8rem 0 1.8rem;
}

nav a {
  text-decoration: none;
  color: #7d828f;
}

nav a:hover {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.66rem;
  /* identical to box height, or 167% */
  color: #1b1d23;
}

nav .logo {
  padding-right: 4.43rem;
}

.main-container {
  max-width: 77.1%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.grey-heading {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 13.33rem;
  line-height: 13.33rem;
  /* identical to box height, or 100% */
  letter-spacing: -5px;
  color: #eeeff4;
}

.archbutton {
  background: #1b1d23;
  color: white;
  border: none;
  padding: 1.6rem 2.133rem;
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.66rem;
  text-align: right;
  cursor: pointer;
}

.archbutton:hover {
  background: #979797;
  border: none;
}

footer {
  width: 85%;
  height: 200px;
  background: #eeeff4;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #logo-container {
  background: #1b1d23;
  width: 13.3rem;
  height: 13.3rem;
}

footer #logo-footer {
  position: relative;
  top: 5rem;
  left: 3.25rem;
}

footer #footer-nav {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

footer #footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #footer-nav li {
  padding: 0 1.8rem 0 1.8rem;
}

footer #footer-nav a {
  text-decoration: none;
  color: #7d828f;
  cursor: pointer;
}

footer #footer-nav a:hover {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.66rem;
  /* identical to box height, or 167% */
  color: #1b1d23;
}

footer .footer-btn {
  position: relative;
  top: 4.26rem;
  left: 17.133333333333333rem;
}

@media (max-width: 500px) {
  .main-container {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3.46rem 1rem;
    max-width: 100%;
    z-index: 1;
  }
  nav .mobile-nav {
    display: block;
  }
  nav .mobile-nav .mob-nav-container {
    display: none;
    position: absolute;
    width: 343px;
    height: 235px;
    left: 32px;
    top: 96px;
    background: rgba(238, 239, 244, 0.85);
    margin-top: 32px;
    z-index: 99;
  }
  nav .mobile-nav .mob-nav-container ul {
    display: block;
    padding-top: 1rem;
  }
  nav .mobile-nav .mob-nav-container li {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 139%;
    padding: 32px 48px 0 48px;
    color: #1b1d23;
  }
  nav ul {
    display: none;
  }
  footer {
    width: 100%;
    height: 45vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15rem;
  }
  footer #logo-container {
    width: 120px;
    height: 120px;
    position: relative;
    top: -50%;
    left: 52%;
  }
  footer #logo-footer {
    position: relative;
    top: 30%;
    left: 7.5%;
  }
  footer #footer-nav ul {
    display: block;
    margin-top: 5rem;
    padding-left: 1rem;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  footer #footer-nav li {
    padding: 1.25rem 0;
  }
  footer .footer-btn {
    position: relative;
    top: 15%;
    left: 75px;
  }
}

.hero-slides {
  height: 75vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.slide1 {
  background: url(/assets/home/desktop/image-hero-paramour.jpg);
  background-size: cover;
}

.slide2 {
  background: url(/assets/home/desktop/image-hero-seraph.jpg);
  display: none;
}

.slide3 {
  background: url(/assets/home/desktop/image-hero-trinity.jpg);
  display: none;
}

.slide3 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
}

.slide4 {
  background: url(/assets/home/desktop/image-hero-trinity.jpg);
  display: none;
}

.slide {
  height: 100%;
  position: relative;
}

.slide h3 {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 5.33rem;
  line-height: 100%;
  /* or 100% */
  letter-spacing: -2px;
  color: #ffffff;
}

.slide p {
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 167%;
  padding: 0.93rem 6.6rem 2.66rem 0;
  /* or 167% */
  color: #ffffff;
}

.slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.slide .slide-content {
  color: white;
  padding: 12rem 25.06rem 12rem 12.66rem;
}

.slide button {
  background: #1b1d23;
  color: white;
  border: none;
  padding: 1.6rem 2.13rem;
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
}

.numbers {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.33rem;
  width: 21.33rem;
  position: absolute;
  left: 5.66rem;
  top: 52.86rem;
}

.numbers .number {
  height: 100%;
  width: 5.33rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #7d828f;
  cursor: pointer;
}

.numbers .number:hover {
  background: #eeeff4;
}

.numbers .number p {
  pointer-events: none;
}

.numbers .active {
  color: white;
  background: #1b1d23;
}

.intro #grey-home {
  padding-top: 6.33rem;
  z-index: 5;
}

.intro #welcome {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 3.73rem;
  line-height: 3.3rem;
  letter-spacing: -2px;
  width: 100%;
  color: #1b1d23;
  margin-left: 12.6rem;
  margin-top: -1rem;
}

.intro .intro-content {
  width: 32.86rem;
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #60636d;
  margin-left: 12.6rem;
  padding-top: 3.73rem;
}

.intro #img-intro {
  position: absolute;
  background: url(/assets/home/desktop/image-welcome.jpg);
  width: 23.33rem;
  height: 37.86666666666667rem;
  left: 61.666666666666664rem;
  top: 71.13333333333334rem;
  z-index: -1;
}

.intro p {
  padding: 0.33rem 0;
}

.intro .small-team {
  position: relative;
  background: url(/assets/home/desktop/image-small-team.jpg);
  background-size: cover;
  width: 100%;
  height: 37.333333333333336rem;
  margin-top: 13.33rem;
}

.intro .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}

.intro .content-container-team {
  margin: 168px 0 240px 190px;
}

.intro #white-home {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 3.73rem;
  line-height: 100%;
  /* or 100% */
  letter-spacing: -2px;
  color: #ffffff;
  padding-bottom: 1.73rem;
}

.featured {
  width: 100%;
}

.featured .top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 13.33rem;
}

.featured h3 {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 3.73rem;
  line-height: 100%;
  /* identical to box height, or 100% */
  letter-spacing: -2px;
  color: #1b1d23;
}

.featured .cards {
  width: 100%;
  margin-top: 4.26rem;
  margin-bottom: 13.33rem;
  height: 37.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured .card {
  width: 23.33rem;
  height: 100%;
  position: relative;
}

.featured .number-project {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 13.33rem;
  line-height: 100%;
  /* identical to box height, or 100% */
  text-align: right;
  letter-spacing: -5px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-top: 2.13rem;
}

.featured .card1 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url(/assets/portfolio/desktop/image-del-sol.jpg);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/assets/portfolio/desktop/image-del-sol.jpg);
}

.featured .card2 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url(/assets/portfolio/desktop/image-228b.jpg);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/assets/portfolio/desktop/image-228b.jpg);
}

.featured .card3 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url(/assets/portfolio/desktop/image-prototype.jpg);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/assets/portfolio/desktop/image-prototype.jpg);
}

.featured .card-text {
  color: white;
  position: absolute;
  bottom: 2.66rem;
  left: 2.66rem;
}

.featured .card-text .view {
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  /* identical to box height, or 167% */
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.75;
  text-decoration: none;
  cursor: pointer;
}

.featured .card-text .name {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 100%;
  /* identical to box height, or 139% */
  color: #ffffff;
}

@media (max-width: 500px) {
  .hero-slides {
    position: relative;
    min-height: 560px;
  }
  .hero-slides h3 {
    font-size: 3rem;
    line-height: 100%;
  }
  .hero-slides .slide-content {
    padding: 110px 32px;
  }
  .hero-slides .slide p {
    padding: 15px 0 57px 0;
  }
  .hero-slides .slide1 {
    background: url(/assets/home/mobile/image-hero-paramour.jpg);
    background-size: cover;
  }
  .hero-slides .slide2 {
    background: url(/assets/home/mobile/image-hero-seraph.jpg);
    display: none;
  }
  .hero-slides .slide3 {
    background: url(/assets/home/mobile/image-hero-trinity.jpg);
    display: none;
  }
  .numbers {
    display: none;
  }
  .intro {
    padding-top: 72px;
  }
  .intro #grey-home {
    display: none;
  }
  .intro #welcome {
    font-size: 2.667rem;
    line-height: 3.2rem;
    letter-spacing: -1px;
    width: 311px;
    color: #1b1d23;
    margin: 0;
    padding: 68px 32px 29px 32px;
  }
  .intro .intro-content {
    margin: 0 auto;
    padding-top: 0;
    max-width: 311px;
  }
  .intro #img-intro {
    display: none;
  }
  .intro .small-team {
    position: relative;
    background: url(/assets/home/mobile/image-small-team.jpg);
    background-size: cover;
    width: 100%;
    height: 560px;
    margin-top: 97px;
  }
  .intro .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
  }
  .intro .content-container-team {
    margin: 0;
    padding: 180px 32px;
  }
  .intro #white-home {
    font-size: 3rem;
    line-height: 100%;
    /* or 100% */
    padding-bottom: 32px;
  }
  .featured {
    width: 100%;
    position: relative;
    border: 1px solid white;
  }
  .featured .top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2rem;
  }
  .featured button {
    position: absolute;
    bottom: -150px;
    left: 2rem;
    width: 311px;
    text-align: center;
  }
  .featured h3 {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 3.73rem;
    line-height: 100%;
    /* identical to box height, or 100% */
    letter-spacing: -2px;
    color: #1b1d23;
  }
  .featured .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
  }
  .featured .number-project {
    display: none;
  }
  .featured .card {
    width: 311px;
    min-height: 240px;
    margin: 1.5rem auto;
    background-size: cover;
  }
  .featured .card1 {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url(/assets/portfolio/mobile/image-del-sol.jpg);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/assets/portfolio/mobile/image-del-sol.jpg);
  }
  .featured .card2 {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url(/assets/portfolio/mobile/image-228b.jpg);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/assets/portfolio/mobile/image-228b.jpg);
  }
  .featured .card3 {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url(/assets/portfolio/mobile/image-prototype.jpg);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/assets/portfolio/mobile/image-prototype.jpg);
  }
  .featured .card-text {
    color: white;
    position: absolute;
    bottom: 2.66rem;
    left: 2.66rem;
  }
  .featured .card-text .view {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    /* identical to box height, or 167% */
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.75;
    text-decoration: none;
    cursor: pointer;
  }
  .featured .card-text .name {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 100%;
    /* identical to box height, or 139% */
    color: #ffffff;
  }
}
/*# sourceMappingURL=style.css.map */